:root {
  --light-gray: #dddddd;
  --medium-gray: #626367;
  --gold: #f1d68a;
  --dark-gray: #3e4045;
  --darker-gray: #222429;
  --black: #000000;
  --neutral-gray: #8f8f91;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  margin-inline: auto;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1480px;
}

html {
  background: radial-gradient(
    circle at top center,
    var(--dark-gray),
    var(--black)
  );
  background-repeat: no-repeat;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
