.container {
  height: 100%;
  flex: 1.5;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  .platformsContainer {
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;

    a {
      color: var(--foreground);
      transition: all 0.1s ease-in-out;
      &:hover {
        color: var(--primary);
        scale: 1.05;
      }

      svg {
        font-size: 32px;
      }
    }
  }
}
